absl-py @ file:///D:/bld/absl-py_1606235631785/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
blis @ file:///D:/bld/cython-blis_1606131178819/work
brotlipy==0.7.0
cached-property==1.5.1
catalogue @ file:///D:/bld/catalogue_1605613755458/work
certifi==2020.11.8
cffi @ file:///D:/bld/cffi_1606601427219/work
chardet @ file:///D:/bld/chardet_1602255574834/work
ChatterBot==1.0.8
chatterbot-corpus==1.2.0
cryptography @ file:///D:/bld/cryptography_1604179260895/work
cymem @ file:///D:/bld/cymem_1604919526519/work
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
google-pasta==0.2.0
grpcio @ file:///D:/bld/grpcio_1604365793491/work
h5py @ file:///D:/bld/h5py_1604753757907/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1606196818768/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1603668500820/work
mathparse==0.1.2
murmurhash==1.0.4
nltk==3.4.4
numpy @ file:///D:/bld/numpy_1604946150193/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.4.0.46
pandas @ file:///D:/bld/pandas_1604166721606/work
Pillow @ file:///D:/bld/pillow_1604748899638/work
plac @ file:///C:/ci/plac_1594257364512/work
preshed @ file:///D:/bld/preshed_1605166431831/work
protobuf==3.13.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1606535649775/work
pyreadline @ file:///D:/bld/pyreadline_1602253143868/work
pyrsistent @ file:///D:/bld/pyrsistent_1605115843590/work
PySocks @ file:///D:/bld/pysocks_1602327025506/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
PyYAML==3.13
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1605186911681/work
scipy @ file:///C:/bld/scipy_1604305143982/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
spacy @ file:///D:/bld/spacy_1606374926448/work
SQLAlchemy==1.3.20
srsly @ file:///D:/bld/srsly_1605085911541/work
tensorboard==1.14.0
tensorflow @ file:///D:/bld/tensorflow_1594833538462/work/tensorflow-1.14.0-cp37-cp37m-win_amd64.whl
tensorflow-estimator==1.14.0
termcolor==1.1.0
thinc @ file:///D:/bld/thinc_1606141809469/work
torch==1.7.0
torchvision==0.8.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1606492128227/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1600272362626/work
Werkzeug==1.0.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1602260090416/work
wincertstore==0.2
wrapt @ file:///D:/bld/wrapt_1606141458267/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1602583799765/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
